@import 'https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:100,300,400';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400';
@import 'https://fonts.googleapis.com/css?family=Lato:300';

body {
  height:100%;
  font-family:"Roboto";
  background-color:#222222;
  width:100%;
  margin:0 !important;
  color:white;
  font-weight:300;
}

a {
    text-decoration:none;
    color:white;
    transition:.5s;
}

a:hover {
    color:#c2c2c2;
}

a.block {
    font-size:12px;
    color:white;
    padding:5px;
    border-radius:2px;
    margin:2px;
}

a.red {
    background-color:#ff6868;
}

a.green {
    background-color:#28b03b;
}

a.foreblack {
    color:black;
}

span.notice {
    font-size:12px;
    color:white;
    padding:5px;
    border-radius:2px;
    margin:2px;
}

span.green {
    background-color:#28b03b;
}

.container {
    width:90%;
    margin:auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.shadow-bottom {
    box-shadow: 0 5px 15px -2px #d7d7d7;
}

table {
    border-collapse: collapse;
    font-size:17px;
    font-weight:300;
    width: 100%;
}

table.compact {
    margin-top:5px;
    width:initial;
}

table.compact tr {
    padding:4px;
}

table.compact td {
    padding:8px;
}

tr {
    transition:.5s;
}

th, td {
    padding: 25px 10px 25px 10px;
    text-align: left;
    border-bottom: 1px solid #6d6d6d;
}

tr:hover{background-color:#2a2a2a}

tr.highlight {
    background-color:#535353;
}

h1,h2,h3{font-family:"Open Sans";font-weight:300;margin:0;}

h1.inline, h2.inline, h3.inline{display:inline-block;}

h1{font-size:40px;font-family:"Roboto";font-weight:100;}

h2{font-size:30px;font-family:"Roboto";font-weight:100;}

h2.big{font-size:40px;font-weight:100;font-family:"Roboto";}

h3{font-size:20px;}

h1.big {
    font-family:"Roboto";
    font-weight:100;
    font-size:80px;
}

span.title {
    font-size:18px;
    font-weight:300;
}

.footer {
    width: 100%;
    border-top:1px solid #c4c4c4;
    background-color:#3d3d3d;
    margin-bottom:0;
    clear:both;
    margin-top:80px;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    vertical-align: middle;
}

#pagenumbers {
    padding:10px;
    text-align:center;
    font-size:18px;
}

textarea {
    width:100%;
    background-color:inherit;
    border:1px solid #a1a1a1;
    resize:none;
    font-family:"Roboto";
    font-size:16px;
    color:white;
    font-weight:300;
}

input[type="submit"] {
    padding:10px;
    color:white;
    padding-top:6px;padding-bottom:6px;
    background-color:inherit;
    text-transform:uppercase;
    border:1px solid #a1a1a1;
    font-family:"Lato";
    font-size:18px;
    font-weight:300;
    cursor:pointer;
}

input[type="text"], input[type="password"]{
    padding:5px;
    font-family:"Roboto";
    font-size:18px;
    font-weight:300;
    border:1px solid #a0a0a0;
    background-color:inherit;
    color:white;
}

input[type=text]::-webkit-input-placeholder {
   font-style: italic;
}
input[type=text]:-moz-placeholder {
   font-style: italic;  
}
input[type=text]::-moz-placeholder {
   font-style: italic;  
}
input[type=text]:-ms-input-placeholder {  
   font-style: italic; 
}

p.code {
    margin-left:30px;
    font-size:14px;
}

span.forumTitle {
    font-size:24px;
    font-weight:100;
}

#nav a {
    color:#696969;
    transition:.5s;
    text-decoration:none;
    margin:10px;
}

#nav a:hover {
    color:black;
}

span.sitetitle {
    font-size:22px;
    font-family:"Open Sans";
    font-weight:300;
}

p.block {
    padding:10px;
    display:inline-block;
    margin-top:10px;
    margin-bottom:10px;
}

p.block-red {
    background-color:#ff9c9c;
    border:1px solid #ff0000;
}

a.graybutton {
    padding:5px;
    background-color:inherit;
    border:1px solid white;
}

a.sidebutton {
    position:fixed;
    padding:8px;
    padding-left:12px;padding-right:12px;
    left:0;
    top:95px;
    border-left:none;
    font-size:20px;
}

div.spacer {
    display:inline-block;
    min-width:20px;

}

div.left {
    float:left;
    width:50%;
    background-color:white;
}

div.right {
    float:right;
    width:49%;
    background-color:white;
}

/******NAV******/
div.nav {
    height:60px;
    margin:0;
    padding:10px;
    width:calc(99% - 1px);
}

div.menu {
    position: relative;
    top:20px;
    text-align:right;
    width:82%;
    margin:auto;
}

div.menu a {
    margin-right:50px;
    color:#cecece;
    font-family:'Josefin Sans';
}

div.menuRight a {    
    color:white;
}

div.menuLeft {
    float:left;
    width:50%;
    text-align:left;
}

div.menuRight {
    float:right;
    width:50%;
}

/******CONTENT******/
div.wrapper {
    width:100%;
}

div.content {
    width:81%;
    margin:auto;
}

p.small {
    margin:0;
    margin-top:10px;
    font-size:15px;
    font-weight:300;
}

input.big {
    font-size:26px;
    font-weight:100;
}